@(errorMsg: Option[String] = None)(implicit request: Request[AnyContent], lang: Lang,  env:securesocial.core.RuntimeEnvironment[_])

@* inspired by the template from the securesocial code  *@

@import securesocial.core.providers.FacebookProvider.Facebook
@import securesocial.core.providers.GitHubProvider.GitHub
@import securesocial.core.providers.GoogleProvider.Google
@import securesocial.core.providers.TwitterProvider.Twitter


@main(title = Messages("login.title"), bodyId = "LoginPage") {
    <div class="page-header">
        <h1>@Messages("login.title")</h1>
    </div>

    @errorMsg.map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    @request.flash.get("success").map { msg =>
        <div class="alert alert-info">
            @msg
        </div>
    }

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }


    <div class="clearfix col-md-offset-4 col-md-4">
        <p>@Messages("login.instructions")</p>
        <p>
          <a class="btn btn-block btn-social btn-twitter"
             href="@env.routes.authenticationUrl(Twitter)">
            <i class="fa fa-twitter"></i> @Messages("login.twitter")
          </a>
          
          <a class="btn btn-block btn-social btn-github"
             href="@env.routes.authenticationUrl(GitHub)">
            <i class="fa fa-github"></i> @Messages("login.github")
          </a>

          <a class="btn btn-block btn-social btn-google-plus"
             href="@env.routes.authenticationUrl(Google)">
            <i class="fa fa-google-plus"></i> @Messages("login.google")
          </a>

          <a class="btn btn-block btn-social btn-facebook"
             href="@env.routes.authenticationUrl(Facebook)">
            <i class="fa fa-facebook"></i> @Messages("login.facebook")
          </a>
          
        </p>
    </div>

}
