@(title: String, scripts: Html = Html(""),
stylesheets: Html = Html(""),
bodyId: String = "",
bodyClass:String = "")(content: Html)(implicit request: Request[play.api.mvc.AnyContent], messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title | @Messages("application.name")</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @stylesheets
    </head>
    <body id='@bodyId' class='@bodyClass'>
        @nav(request)
        <main class="container-fluid" id="content">
            <div class="row">
                @content
            </div>  
        </main>
        @scripts
    </body>
</html>
